@use '@/shared/assets/styles/_mixin' as mixin;
@use '@/shared/assets/styles/_variables' as vars;
.clientPage{
  width: 100%;
  padding: 40px 70px 50px 70px;

  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    h2{
      font-size: 35px;
      margin-bottom: 10px;
    }
    nav{
      font-size: 20px;
      color: vars.$gray-text-secondary;
      margin-bottom: 20px;
    }
  }
  &__info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    margin-bottom: 30px;
  }
  &__addUser{
    @include mixin.flex();
    column-gap: 15px;
    svg{
      width: 40px;
      height: 40px;
      fill: #fff;
    }
  }
}

.input{
  width: 100%;
  margin-bottom: 70px;
  @include mixin.flex;
}
.clientsList{
  margin-bottom: 50px;
}