@use '@/shared/assets/styles/_variables' as vars;
@use '@/shared/assets/styles/_mixin' as mixin;
.select {
  position: relative;
  width: 200px;
}
.select__button{
  display: flex;
  color: #858c99;
  background-color: vars.$black-background;
  border: 1px solid vars.$gray-border;
  border-radius: 5px;
}
.select__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 80%;
  padding: 10px 14px;
  cursor: pointer;
}

.select__arrow {
  display: block;
  position: relative;
  width: 20%;
  @include mixin.flex();
}
.select__standardArrow{
  width: 15px;
  height: 15px;
  border-right: 2px solid vars.$gray-border;
  border-bottom: 2px solid vars.$gray-border;
  transform: translateY(-3px) rotate(45deg);
}
.select__reverseArrow{
  width: 15px;
  height: 15px;
  border-right: 2px solid vars.$gray-border;
  border-bottom: 2px solid vars.$gray-border;
  transform: translateY(3px) rotate(225deg);
}
.select__resetArrow{
  border: 0;
  transform: unset;
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #e42121;
  }
  &::before{
    transform: rotate(-45deg);
  }
  &::after{
    transform: rotate(45deg);
  }
}
.select__list {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  margin: 0;
  padding: 6px;

  list-style: none;
  background-color: #1b1f27;
  border: 1px solid #343a46;
  border-radius: 8px;
}

.showOptionsClass{
  display: block;
}
.select__option {
  width: 100%;
  padding: 10px 12px;

  color: #ffffff;
  background: transparent;

  font: inherit;
  text-align: left;
  border: none;
  border-radius: 6px;

  cursor: pointer;
}

.select__option:hover,
.select__option:focus {
  background-color: #2b313d;
  outline: none;
}
