@use '@/shared/assets/styles/_mixin';
@use '@/shared/assets/styles/_variables' as vars;

.clientCard{
  width: 80%;
  height: 120px;
  border-left: 3px solid vars.$red-color;
  border-right: 3px solid vars.$red-color;
  border-radius: 15px;
  padding: 0 15px;
  @include mixin.flex(space-between, center);

  &__img{
    height: 100px;
    img{
      width: 100px;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
  &__text{
    font-size: 20px;
    text-align: center;
  }
  &__actions{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
  &__button{
    width: 33px;
    height: 33px;
    border-radius: 5px;
    svg{
      stroke: #fff;
      fill: #fff;
    }
    &_1{
      background-color: #EA4335;
      align-self: end;
    }
    &_2{
      background-color: #34A853;
      align-self: center;
    }
    &_3{
      background-color: #4285F4;
    }
  }
}
